.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: white;
  padding-top: 15px;
  padding-bottom: 25px;
  overflow: hidden;
  width: 300px;
  border-radius: 20px;
}

.form{
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    width: 100px;
    margin-top: 30px;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
}

.input input{
    background: #eaeaea;
    border: transparent;
    border-radius: 15px;
    padding-left: 10px;
}

.text{
    color: black;
    font-size: 16;
    font: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.buttons{
    display: flex;
    gap: 20px;
    padding-top: 10px;

}

.button{
    display: flex;
    border-radius: 10px;
    padding: 5px;
}

.button:hover{
    background-color: #eaeaea;
}

.back{
    background-color: #1b2339;
    color: white;
}

.blue{
    background-color: #00ffe5;
    color: black;
}

.danger{
    font-size: 12;
    color: red;
}