.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.chipScan {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: white;
  border-radius: 0px 20px 20px 0px;
  width: 1100px;
  height: 80vh;
  padding: 30px;
}

.personalInformation {
  background: #d9d9d9;
  width: 250px;
  height: 300px;
  padding: 10px;
}

.contactInformation {
  background: #d9d9d9;
  width: 250px;
  height: 200px;
  padding: 10px;
}

.allergies {
  background: #d9d9d9;
  width: 750px;
  height: 150px;
  padding: 10px;
}

.medication {
  flex-direction: column;
  background: #d9d9d9;
  width: 750px;
  height: 150px;
  padding: 10px;
}

.implants {
  flex-direction: column;
  background: #d9d9d9;
  width: 750px;
  height: 150px;
  padding: 10px;
}

.text-bold {
  font-weight: bold;
}

.test {
  display: flex;
  flex-direction: row;
}
