.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  align-items: start;
  padding: 30px;
}

.ChipScan {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: white;
  width: 1100px;
  height: 600px;
}

.PersonalInformation {
  background: #d9d9d9;
  width: 250px;
  height: 300px;
  padding: 10px;
}

.ContactInformation {
  background: #d9d9d9;
  width: 250px;
  height: 200px;
  padding: 10px;
}

.Allergies {
  background: #d9d9d9;
  width: 750px;
  height: 150px;
  padding: 10px;
}

.Medication {
  flex-direction: column;
  background: #d9d9d9;
  width: 750px;
  height: 150px;
  padding: 10px;
}

.Implants {
  flex-direction: column;
  background: #d9d9d9;
  width: 750px;
  height: 150px;
  padding: 10px;
}

.text-bold {
  font-weight: bold;
}
