.clientInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: start;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  border-color: transparent;
  background-color: lightgray;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  width: 1000px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
